.infoPageContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  .box{
    width: 50%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .infoPageInfoSide{
    background-color: #000000;
    color: white;
    h1{
      margin-bottom: 20px;
      letter-spacing: 2px;
      font-size: 35px;
    }
    height: 100%;
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  a{
    display: inline-block;
    margin-top: 30px;
    color: white;
    transition: 0.4s;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 10px;

    svg {
      transition: 0.4s;
    }

    
    &:hover{
      color: #ab4422;
      background-color: white;
      
    }
  }

  .animationWrapperBox{
    svg {
      width: 250px !important;
      height: 250px !important;
    }
  }
}