 .cards {
   box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
   border-radius: 10px;
   height: 150px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;

   .circleIconWrapper {
     border-radius: 50%;
     width: 50px;
     height: 50px;
     background-color: #66bb6a;
     display: flex;
     align-items: center;
     justify-content: center;

     svg {
       fill: white;
     }
   }

   .statisticSide {
     color: #757575;

     h4 {
       font-weight: 100;
       font-size: .7rem;
       margin-bottom: 10px
     }

     ;

     h2 {
       font-weight: 300;
       font-size: 1.25rem;
       margin-bottom: 10px;
     }

     span {
       font-size: .7rem;
       color: #66bb6a;
     }

   }
 }